<h1 class="ui center aligned icon header">
  <i class="circular building icon"></i>
  <div class="content">
    Stores
    <div class="sub header">
      Test User
    </div>
  </div>
</h1>

<table class="ui celled table">
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td>
          <i class="map pin icon"></i>
          <%= store.name %>
          <div class="ui right floated buttons">
            <%= link_to store_orders_path(store), class: "ui right floated right labeled icon button" do %>
              <i class="right arrow icon"></i>
              Orders
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="extra">
  <%= link_to new_store_path, class: "ui labeled icon positive button" do %>
    <i class="plus icon"></i>
    Store
  <% end %>

  <%= paginate @stores %>
</div>
