<h1 class="ui center aligned icon header">
  <i class="circular unordered list icon"></i>
  <div class="content">
    Orders
    <div class="sub header">
      <%= @restaurant.name %>
    </div>
  </div>
</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Source</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.source.name %></td>
        <td><%= link_to 'Show', restaurant_order_path(@restaurant, order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
