<h1 class="ui center aligned icon header">
  <i class="circular cube icon"></i>
  <div class="content">
    Edit <%= @organization.name %>
  </div>
</h1>

<%= render 'form', organization: @organization %>
